<html>
  {% load staticfiles %}
  <head>
      <link rel="stylesheet" href="https://scotiabankfiles.azureedge.net/scotiabank-colombia/scotiabank-colpatria/scripts/gallery.css"/>
      <script src="https://scotiabankfiles.azureedge.net/scotiabank-colombia/scotiabank-colpatria/scripts/gallery.js"></script>
    <body>
            <main class="gallery-wrapper"> 
					<div class="container">
					  <a href="{%url 'index' %}">Back to Home Page</a>
					  <h1 class="gallery-title">Our gallery</h1>
					  <p class="gallery-intro">A paragraph talking about the photography work made for this project. Incididunt ut labore et dolore magna aliqua. Ut enim ad minm veniam, quis nostrud exercitation ullmaco laboris nisi ut aliquip ex ea commodo consequat.</p>
					  <section class="gallery -main">
						<div class="gallery__item -lg">
						  <img src="https://i.postimg.cc/9M9KNFRC/photo-grid-600-900.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/VsjgTK1c/photo-grid-600-600-1.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/Gt1QtyFN/photo-grid-600-600-2.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/bNpgj1NS/photo-grid-600-600-3.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/sx9JhgK2/photo-grid-600-600-5.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item"> 
						  <img src="https://i.postimg.cc/R0yGr8Nv/photo-grid-600-600-6.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/FRSphZL3/photo-grid-600-600-4.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item -xl">
						  <img src="https://i.postimg.cc/cLjDyGNH/photo-grid-1200-600.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/sx9JhgK2/photo-grid-600-600-5.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/bNpgj1NS/photo-grid-600-600-3.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/Gt1QtyFN/photo-grid-600-600-2.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/R0yGr8Nv/photo-grid-600-600-6.jpg" class="img-responsive"/>
						</div>
						<div class="gallery__item -md">
						  <img src="https://i.postimg.cc/FRSphZL3/photo-grid-600-600-4.jpg" class="img-responsive"/>
						</div>
					  </section><!-- /.gallery -->
					  <section class="gallery -more">
						<div class="gallery__item -lg">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item"> 
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item -xl">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
						<div class="gallery__item -md">
						  <img src="https://i.postimg.cc/4dVX9nd3/Beach-Auto-Poster-1200x800.png" class="img-responsive"/>
						</div>
					  </section><!-- /.gallery -->
					  <div class="modal">
						<div class="modal__content"></div><!-- /.modal__content -->
						<button class="modal__btn -close">
						  <span class="sr-only">Close</span>
						  <i class="fa fa-times"></i>
						</button>
						<button class="modal__btn -left">
						  <span class="sr-only">Left</span>
						  <i class="fa fa-chevron-left"></i>
						</button>
						<button class="modal__btn -right">
						  <span class="sr-only">Right</span>
						  <i class="fa fa-chevron-right"></i>
						</button>
					  </div><!-- /.modal -->
					  <button class="btn -secondary">Load more</button>
					</div><!-- /.container -->
				  </main><!-- /.gallery-wrapper -->
    </body>
</html>